
{% extends 'rango/base.html' %}
{% load static%}

	{% block title%}
	Index Page
	{% endblock %}
	{% block body_block %}
		<h1>Rango says...</h1>
		{% if user.username %}
		{{ user.username }}||<a href="/rango/logout/">logout</a>
		{% else %}
		 Hello all  <a href="/rango/register/">register</a>||<a href="/rango/login/">login</a>
		{% endif %}
		
		{% if categories%}
			<ul>
			{% for category in categories%}
			<li>
				<a href="category/{{category.slug}}">{{ category.name }}</a>
			</li>
			{% endfor %}
			</ul>
 
		{% endif %}
        <br><img src="{% static 'images/1.jpg' %}" alt="my image"></br>
        <a href="rango/about/">about</a>
        <a href="add_category/">Add categoty</a>
	{% endblock %}